/** Define all top-level and section elements here in the order they should appear. Use these lists to structure your z-index layering orders within a given section of the page. Avoid using one-off values UNLESS they are 0 or negative values. Usage: z-index: z($list_name, element_name); Example: z-index: z($elements, page); */
.leaders { color: #ffffff; width: 100%; margin: 0 auto; position: relative; overflow: hidden; }
.leaders .title { padding-bottom: 3px; border-bottom: 1px solid #ffffff; display: block; text-align: center; text-transform: uppercase; font-family: "Source Sans Pro Light", Arial, Helvetica, sans-serif; font-weight: 300; font-size: 1.5em; }
.leaders .title span { font-family: "Source Sans Pro Semibold", Arial, Helvetica, sans-serif; font-weight: 500; }
.leaders .scoresHeaders { width: 100%; margin: 0 auto; padding: 1em 0 0 0; display: block; *zoom: 1; text-align: center; font-size: 0.91667em; text-transform: uppercase; font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; }
.leaders .scoresHeaders:before, .leaders .scoresHeaders:after { content: ""; display: table; }
.leaders .scoresHeaders:after { clear: both; }
.leaders .scoresHeaders .scoresPos, .leaders .scoresHeaders .scoresPlayer, .leaders .scoresHeaders .scoresToday, .leaders .scoresHeaders .scoresThru, .leaders .scoresHeaders .scoresTotal { color: #ffffff; }
.leaders .scoreboardList { width: 100%; margin: 0 auto; color: #ffffff; }
.leaders .scoreboardListContent { float: left; width: 100%; text-transform: uppercase; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; }
.leaders .scoreboardListContent .scoresPos { font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; }
.leaders .row { *zoom: 1; display: block; text-align: center; padding: 0.2em 0; font-size: 1.33em; line-height: 1.3em; }
.leaders .row:before, .leaders .row:after { content: ""; display: table; }
.leaders .row:after { clear: both; }
.leaders .row.nav { display: none; }
.leaders .scoresPos { float: left; width: 14%; padding-right: 7px; }
.leaders .scoresPlayer { float: left; width: 44%; text-align: left; }
.leaders .scoresPlayer.smaller { font-size: .8em; /*line-height:9px;*/ }
.leaders .scoresToday { float: left; width: 14%; }
.leaders .scoresThru, .leaders .scoresTotal { float: left; width: 14%; }
.leaders .scoresTotal { width: 13%; }
.over { color: #37B81E !important; }
.under { color: #ED1C24 !important; }
@media only screen and (min-width: 45em) { .leaders .title { font-size: 2.42em; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; }
.leaders .title span { font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; }
.leaders .row { font-size: 1.42em; } }
.nav.leaders { width: 83%; min-height: 10em; margin: 1.667em auto 0 auto; *zoom: 1; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.nav.leaders:before, .nav.leaders:after { content: ""; display: table; }
.nav.leaders:after { clear: both; }
.nav.leaders .title { font-size: 1em; line-height: 2em; padding: 0; text-align: center; border-bottom-color: rgba(255, 255, 255, 0.25); border-top: 1px solid #ffffff; border-top-color: rgba(255, 255, 255, 0.25); }
.nav.leaders .scoresHeaders { font-size: 0.83333em; }
.nav.leaders .row { font-size: 0.83333em; line-height: 2em; padding: 0; }
.nav.leaders .row.nav { display: block; }
.nav.leaders .scoreboardListContent .scoresPos { font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; }
.nav.leaders .scoresToday { width: 17%; }
.nav.leaders .scoresThru { width: 13%; }
.nav.leaders .scoresTotal { width: 12%; }
.nav.leaders dl { *zoom: 1; text-align: left; text-transform: uppercase; line-height: 2em; padding-top: 1em; }
.nav.leaders dl:before, .nav.leaders dl:after { content: ""; display: table; }
.nav.leaders dl:after { clear: both; }
.nav.leaders dl dt { font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; float: left; clear: left; line-height: 1.9em; }
.nav.leaders dl dd { font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; }
@media only screen and (min-width: 45em) { /* equivalent of 600px - hide this from over tablet screen */
.nav.leaders { width: 84.6%; }
.nav.leaders .title { font-size: 1.33em; }
.nav.leaders .row { font-size: 1.33em; }
.nav.leaders .scoresPos { width: 8%; padding-right: 0; }
.nav.leaders .scoresPlayer { width: 50%; }
.nav.leaders .scoresToday { width: 19%; }
.nav.leaders .scoresThru { width: 12%; }
.nav.leaders .scoresTotal { width: 11%; }
.nav.leaders dl { font-size: 1.0833em; }
.nav.leaders dl dt { line-height: 2em; } }
/*# sourceMappingURL=lb_widget.css.map */