/** Define all top-level and section elements here in the order they should appear. Use these lists to structure your z-index layering orders within a given section of the page. Avoid using one-off values UNLESS they are 0 or negative values. Usage: z-index: z($list_name, element_name); Example: z-index: z($elements, page); */
.outer-wrap > * { transition: transform 0.5s ease-out; }
@media only screen and (min-width: 45em) { .outer-wrap > * { transition: none 1s; } }
.js-nav .outer-wrap > * { transform: translate(280px, 0); }
@media only screen and (max-width: 44.9375em) and (min-aspect-ratio: 13 / 9) { .js-nav .outer-wrap > * { transform: translate(378px, 0); } }
.js-nav.oldie .outer-wrap > *, .js-nav.oldie.active .outer-wrap > * { transform: translate(0, 0); }
/* note: breakpoints in em ---------------------------- base font size to determine breakpoints - 12px useful pixel to em converter http://bradfrostweb.com/demo/ish/
-----------------------------------------------------*/
html { width: 100%; height: 100%; font-size: 0.75em; -webkit-text-size-adjust: none; /* Prevent font scaling in landscape while allowing user zoom */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body { width: 100%; height: 100%; background: #000000; font-family: Arial, Verdana, Helvetica, sans-serif; margin: 0; padding: 0; }
.outer-wrap, section.app-wrap { position: relative; width: 100%; overflow-x: hidden; }
@media only screen and (min-width: 45em) { .outer-wrap, section.app-wrap { height: 100%; overflow: visible; } }
section.nav-wrap { width: 280px; float: left; position: fixed; top: 0; bottom: 0; visibility: hidden; min-height: 100%; overflow-x: hidden; overflow-y: auto; z-index: 0; background: #222222; transform: translate(-100%, 0); transition: transform 0.5s ease-out, visibility 0.5s ease-out; }
@media only screen and (min-width: 45em) { section.nav-wrap { transition: none 1s; } }
@media only screen and (max-width: 44.9375em) and (min-aspect-ratio: 13 / 9) { section.nav-wrap { width: 378px; } }
html.oldie section.nav-wrap { left: -280px; }
@media only screen and (min-width: 45em) { html.oldie section.nav-wrap { left: 0; } }
@media only screen and (min-width: 45em) { section.nav-wrap { min-height: 0; bottom: auto; width: 100%; float: none; visibility: visible; overflow: visible; z-index: 8; text-align: center; background: #000000; transform: none; } }
section.hero-wrap { position: relative; width: 100%; height: calc(100% - 40px); margin-top: 40px; z-index: 2; }
.alert section.hero-wrap { margin-top: 0; }
@media only screen and (min-width: 45em) { section.hero-wrap { margin-top: 0; height: calc(100% - 50px); } }
section.page-wrap { position: relative; width: 100%; z-index: 1; min-height: 80%; background-repeat: no-repeat; background-size: 100% auto; background-position: center bottom; padding-bottom: 45%; }
@media only screen and (min-width: 45em) { section.page-wrap { padding-bottom: 30%; } }
section.page-wrap:first-child { margin-top: 40px; }
@media only screen and (min-width: 45em) { section.page-wrap:first-child { margin-top: 0; } }
div.content-wrap { height: 100%; }
.js-nav .outer-wrap { overflow: hidden; min-height: 100%; }
.js-nav section.hero-wrap { left: 0; }
.js-nav section.page-wrap { left: 0; position: relative; }
.js-nav section.nav-wrap { visibility: visible; transform: translate(0, 0); }
.js-nav.oldie.active header#top { left: 280px; }
.js-nav.oldie.active section.hero-wrap { left: 280px; }
.js-nav.oldie.active section.page-wrap { left: 280px; }
.js-nav.oldie.active section.nav-wrap { left: 0; }
.js-nav.oldie.active #background { left: 280px; }
.js-navigate .outer-wrap > * { transition: none 1s; }
/* navigation ----------------------------------------------*/
nav[role=navigation] ul { margin-top: 45px; }
nav[role=navigation] li { list-style: none; color: #ffffff; text-transform: uppercase; font-size: 1.33em; line-height: 2em; font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; text-align: left; }
nav[role=navigation] li a { padding: 0 8.5% 0 8.5%; color: #ffffff; text-decoration: none; }
nav[role=navigation] li a:hover { color: #fff000; }
nav[role=navigation] span.live { padding: 0.2em 0.5em; margin-left: 0.5em; }
nav#submenu ul { margin-top: 0; }
nav#submenu li { font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; }
nav#submenu .footer { width: 83%; margin: 3em auto 5%; text-align: left; color: #bdbdbd; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; font-size: .833em; }
nav#submenu .footer .app_store { margin-top: 1.5em; }
nav#submenu .footer .app_store img { display: inline; }
nav#submenu .footer a { color: #999999; }
nav#submenu .footer a:hover { color: #fff000; }
@media only screen and (min-width: 45em) { /* equivalent of 600px */
header#top nav.mainmenu { display: block; }
nav.mainmenu.active { max-height: 0 !important; min-height: 50px !important; /* with the mobile menu shown, if the window is changed, class .active still exists. set the height for tablet view to show the tablet menu */ }
nav.mainmenu ul { margin: 0; border: 0; height: 50px; }
nav.mainmenu li { display: inline-block; margin: 0; font-size: 1.3em; line-height: 50px; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; }
nav.mainmenu li::before { content: "\00b7"; font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; float: left; display: inline; }
nav.mainmenu li a { background: none; border: 0; padding: 0 0.3em 0 0.4em; float: left; }
nav.mainmenu li:first-child::before { content: ""; display: none; }
nav.mainmenu span.live { padding: 0.2em 0.5em; margin-left: 0.3em; line-height: 16px; margin-top: -2px; display: inline-block; }
nav#submenu { display: none; position: absolute; top: 50px; left: 0; width: 186px; -webkit-transform: translateZ(0); background-color: #222222; }
nav#submenu.active { display: block; top: 50px; }
nav#submenu ul { margin-top: 8px; }
nav#submenu li { font-size: 1.33em; line-height: 2em; }
nav#submenu li a { display: block; padding: 0 7.7%; }
nav#submenu .footer { margin-top: 1.2em; font-size: .755em; width: 84.6%; }
nav#submenu .footer .app_store { display: none; } }
/* header -------------------------------------------------*/
header#top { position: fixed; top: 0; height: 40px; background: #000000; width: 100%; /*position: fixed; top: 0; z-index: 5; - commenting out to make it slide down menu until the navigatoin decision is made */ z-index: 9; }
header#top.active { /*position: absolute; overflow-y: auto; */ position: relative; }
a.menu-link { padding: 0px 0px 0px 22px; position: absolute; top: 12px; left: 10px; text-decoration: none; text-transform: uppercase; color: #ffffff; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; cursor: pointer; width: 25px; height: 20px; }
a.menu-link span, a.menu-link span:before, a.menu-link span:after { position: absolute; height: 2px; width: 25px; background: #ffffff; display: block; content: " "; left: 0; top: 7px; }
a.menu-link span:before { top: -7px; }
a.menu-link span:after { top: 7px; }
a.menu-link:hover { color: #fff000; }
a.menu-link:hover span, a.menu-link:hover span:before, a.menu-link:hover span:after { background: #fff000; }
a.fav-link { display: none; }
.sponsors { position: absolute; right: 10px; top: 9px; display: block; }
.sponsors div { display: none; }
.sponsors div:nth-child(2) img { display: none; }
.sponsors div:nth-child(2) img + img { display: block; }
.divider { display: none; }
.leaderboardEverywhereIcon { cursor: pointer; position: absolute; top: 11px; width: 32px; height: 22px; display: block; left: 44px; background: url("/images/nav/lb_everywhere_icon.png") no-repeat; background-size: 23px 16px; background-position: 5px 2px; }
.leaderboardEverywhereIcon.active { background-image: url("/images/nav/lb_everywhere_icon_active.png"); }
.leaderboardEverywhereIcon.hidden { display: none; }
#eventLogo { background: url(/images/logos/tmc_nav_trans.png) no-repeat 0px 6px; background-size: 104px 36px; width: 112px; height: 50px; margin: 0 auto; }
#eventLogo a { display: block; width: 112px; height: 40px; text-indent: -9999px; }
#eventLogo.popout { float: left; margin-left: 5px; }
@media only screen and (min-width: 45em) { /* equivalent of 600px. make the menu fixed on the tablet and above */
a.menu-link { position: fixed; top: 0; left: 0; z-index: 9; height: 50px; width: 50px; padding: 28px 12px 0; }
a.menu-link span { top: 23px; left: 12px; }
a.menu-link:after { content: ""; height: 34px; top: 8px; right: 0; width: 1px; border-right: 1px solid #4D4D4D; position: absolute; }
a.menu-link.active { background: #222222; }
a.menu-link.active:after { display: none; }
#eventLogo { position: fixed; z-index: 9; top: 0; left: 55px; width: 132px; height: 50px; background-position: 10px 8px; }
#eventLogo a { height: 50px; width: 132px; }
a.fav-link { position: fixed; z-index: 9; right: 0; top: 0; height: 50px; width: 54px; padding-top: 32px; display: block; text-align: center; text-transform: uppercase; color: #ffffff; text-decoration: none; font-size: 10px; font-family: "Source Sans Pro Semibold", Arial, Helvetica, sans-serif; font-weight: 500; }
a.fav-link:before { content: ""; position: absolute; top: 8px; left: 0; right: 0; margin: 0 auto; width: 24px; height: 24px; background: url("/images/misc/favorite_star_sm_sprite.png") no-repeat 0 0; }
a.fav-link:after { content: ""; height: 34px; top: 8px; left: 1px; width: 1px; border-left: 1px solid #4D4D4D; position: absolute; }
a.fav-link:hover { color: #FFF000; }
a.fav-link:hover:before { background-position: -24px -24px; }
a.fav-link.active { background: #333333; color: #FFF000; -webkit-transform: translateZ(0); border-bottom: 1px solid #333333; }
a.fav-link.active:before { background-position: -24px -24px; }
a.fav-link.active:after { display: none; }
.sponsors { z-index: 9; top: 13px; right: 0; float: right; position: relative; margin-right: 5px; width: 34px; }
.sponsors div:nth-child(2) img { display: block; }
.sponsors div:nth-child(2) img + img { display: none; }
.leaderboardEverywhereIcon { position: relative; left: 0; float: right; cursor: pointer; top: 15px; margin-right: 26px; }
.leaderboardEverywhereIcon:after { content: ''; border: 1px solid #333333; height: 30px; position: absolute; right: -12px; top: -5px; }
header#top { position: static; height: 50px; width: 100%; text-align: center; /* over tablet devices - make the header fixed */ }
header#top .rightNavHeader { position: fixed; right: 0; float: right; z-index: 9; } }
/* search ------------------------------------------------*/
#searchBox { position: absolute; top: 0; left: 50%; margin-left: -45%; margin-top: 10px; width: 90%; *zoom: 1; background-color: #111111; }
#searchBox:before, #searchBox:after { content: ""; display: table; }
#searchBox:after { clear: both; }
#searchBox form { opacity: .5; }
#searchBoxCorners { display: none; }
.search-button { position: absolute; right: 10px; top: 50%; margin-top: -6px; width: 13px; height: 13px; }
#words { float: left; width: 100%; height: 1.5em; margin: 0.2em 0; padding: 0 25px 0 7px; border: none; box-sizing: border-box; background-color: transparent; color: #FFFFFF; font-size: 1.33em; line-height: 1.5em; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; text-transform: uppercase; }
@media only screen and (min-width: 45em) { /* equivalent of 600px, hide search box from tablet and above view */
#searchBox { margin-top: 20px; }
.search-button { width: 17px; height: 17px; margin-top: -8px; }
#words { padding-right: 30px; padding-left: 11px; margin: 0.5em 0; } }
div.alert_bar { width: 100%; min-height: 40px; background-color: #ffffff; margin-top: 40px; text-align: center; line-height: 1.25em; padding: 10px 1.07143%; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; position: relative; z-index: 5; }
div.alert_bar a { color: #999999; }
@media only screen and (min-width: 45em) { div.alert_bar { font-size: 1.333em; margin-top: 0; } }
/* common classes ----------------------------------------*/
.contentWrapper { padding: 0; margin: 0; position: relative; }
div.content { padding: 1em; }
.text { clear: both; padding: 0; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; *zoom: 1; }
.text:before, .text:after { content: ""; display: table; }
.text:after { clear: both; }
.text p { padding-bottom: 0.5em; }
.text em { font-style: italic; }
.text strong { font-family: "Source Sans Pro Semibold", Arial, Helvetica, sans-serif; font-weight: 500; }
section.full-width + .text { padding-top: 0.5em; }
.text a { font-family: "Source Sans Pro Semibold", Arial, Helvetica, sans-serif; font-weight: 500; color: #333333; }
.text a.linktag { text-decoration: none; font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; }
.text a.linktag.chevron { position: relative; }
.text a.link_txt_small { font-size: 0.9em; }
.text h2 { font-size: 1.833em; line-height: 1.818em; color: #333333; padding-bottom: 0.6em; padding-top: 0.3em; }
.text h3 { color: #333333; padding-bottom: 0.8em; line-height: 1.8em; font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; }
.text.centered, .text .centered { max-width: 998px; width: 84.64286%; margin-left: auto; margin-right: auto; *zoom: 1; }
.text.centered:before, .text.centered:after, .text .centered:before, .text .centered:after { content: ""; display: table; }
.text.centered:after, .text .centered:after { clear: both; }
.text.extra_spacing ul, .text.extra_spacing ol { padding-left: 2em; color: #333333; line-height: 1.8em; padding-bottom: 1.8em; }
.text.extra_spacing ul ul, .text.extra_spacing ul ol, .text.extra_spacing ol ul, .text.extra_spacing ol ol { padding-bottom: 0; }
.text.extra_spacing p { padding-bottom: 1.8em; line-height: 1.8em; color: #333333; }
.text.extra_spacing p.h_subtxt { text-align: center; font-weight: bold; color: #333333; font-size: 1.125em; text-transform: uppercase; }
.text.extra_spacing p.pullquote { padding-bottom: .5em; }
.text.extra_spacing p.pullquote:last-child { padding-bottom: 1em; }
.text.extra_spacing p.p_font1 { font-size: 1.500em; font-weight: bold; padding-top: 10px; }
.text.extra_spacing p.p_font2 { font-size: 1.000em; }
section.full-width + .text.extra_spacing { padding-top: 1.8em; }
.text.extra_spacing hr { margin-bottom: 1.8em; }
.text.extra_spacing.top_spacing { padding-top: 40px; }
.text p.pullquote { font-size: 2em; line-height: 1.29em; }
.text p.pullquote:first-letter { margin-left: -0.4em; }
@media only screen and (min-width: 57.5em) { .text p.pullquote { padding-left: 16px; }
.text.extra_spacing p, .text.extra_spacing ul, .text.extra_spacing ol { line-height: 1.667em; padding-bottom: 1.667em; } }
.para { clear: both; }
.para h3 { font-family: "Source Sans Pro Semibold", Arial, Helvetica, sans-serif; font-weight: 500; font-size: 1.00em; }
@media only screen and (min-width: 45em) { .para h3 { font-size: 1.13em; } }
.text.extra_spacing .para h2 { text-align: center; }
.label { position: absolute; top: 15px; left: 15px; margin: 0 10px 0 0; }
.label.text { font-size: 9px; line-height: 1.5em; background: #FFF000; color: #333333; font-family: "Source Sans Pro Semibold", Arial, Helvetica, sans-serif; font-weight: 500; font-size: 9px; line-height: 1.5em; padding: 0.5em 0.75em; text-transform: uppercase; }
.label.icon { top: auto; bottom: 0; left: 0; margin-left: 10px; margin-bottom: 11px; width: 18px; height: 18px; background-repeat: no-repeat; background-color: transparent; background-size: 100%; }
@media only screen and (min-width: 32.5em) { .label.icon { width: 26px; height: 26px; } }
.label.news { background-image: url("/images/now/icon_news.png"); }
.ie8 .label.news { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/icon_news.png", sizingMethod="scale"); }
.label.photo { background-image: url("/images/now/icon_photo.png"); }
.ie8 .label.photo { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/icon_photo.png", sizingMethod="scale"); }
.label.gallery { background-image: url("/images/now/icon_gallery.png"); }
.ie8 .label.gallery { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/icon_gallery.png", sizingMethod="scale"); }
.label.video { background-image: url("/images/now/icon_video.png"); }
.ie8 .label.video { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/icon_video.png", sizingMethod="scale"); }
.label.radio { background-image: url("/images/now/icon_radio.png"); }
.ie8 .label.radio { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/icon_radio.png", sizingMethod="scale"); }
.label.track { background-image: url("/images/now/icon_track.png"); }
.ie8 .label.track { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/icon_track.png", sizingMethod="scale"); }
.label.link { background-image: url("/images/now/icon_link.png"); }
.ie8 .label.link { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/icon_link.png", sizingMethod="scale"); }
.headerlink { position: absolute; top: 15px; left: 15px; color: #FFFFFF; font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; font-size: 1.1667em; z-index: 3; text-transform: uppercase; text-decoration: none; }
.caption { position: absolute; left: 0px; bottom: 5px; padding: 0 10px; width: 100%; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; font-size: 1.16667em; color: #ffffff; }
.caption_row { position: absolute; bottom: 0; left: 0; width: 100%; }
.label.icon + .caption { position: static; bottom: 0; padding: 0 10px 0 0; margin-bottom: 10px; width: auto; margin-left: 38px; }
.centered_icon { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background: transparent no-repeat center center; width: 3.75em; height: 3.75em; background-size: 3.75em 3.75em; }
@media only screen and (min-width: 32.5em) { .centered_icon { width: 4.5em; height: 4.5em; background-size: 4.5em 4.5em; } }
@media only screen and (min-width: 90em) { .centered_icon { width: 5.83333em; height: 5.83333em; background-size: 5.83333em 5.83333em; } }
.centered_icon.play { background-image: url("/images/now/btn_play.png"); }
.ie8 .centered_icon.play { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/btn_play.png", sizingMethod="scale"); }
.centered_icon.grid { background-image: url("/images/now/btn_grid.png"); }
.ie8 .centered_icon.grid { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/btn_grid.png", sizingMethod="scale"); }
.centered_icon.radio { background-image: url("/images/misc/radio_notplaying.png"); }
.ie8 .centered_icon.radio { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/misc/radio_notplaying.png", sizingMethod="scale"); }
img { display: block; border: 0; }
.image span { display: none; }
.image:before, .image span { content: " "; width: 100%; height: 50px; max-height: 100%; position: absolute; left: 0; bottom: 0; background: transparent url("/images/now/container_shadow_btm.png") repeat-x left bottom; background-size: 100% 50px; }
.image.no_gradient:before { display: none; background: transparent; }
.image.offair:before, .image.offair span { background-color: rgba(0, 0, 0, 0.6); background-image: none; background-size: 100% 100%; height: 100%; }
.ie8 .image.offair:before, .ie8 .image.offair span { -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')"; }
.wrapper .image { min-height: 100px; }
span.live, .label.live { background: #ed1c24; color: #ffffff; text-transform: uppercase; vertical-align: middle; }
span.offair, .label.offair { background: #cccccc; color: #333333; text-transform: uppercase; vertical-align: middle; }
a.selected, nav[role=navigation] li a.selected { color: #fff000; }
.no_gradient:before { background: none; }
.share { cursor: pointer; }
.moreWrapper { width: 100%; height: 35px; text-align: center; text-transform: uppercase; }
.moreWrapper:after, .moreWrapper span { content: " "; position: absolute; bottom: 0; left: 50%; margin-left: -13px; width: 25px; height: 13px; background-image: url("/images/now/more_arrow.png"); background-size: 100% 100%; }
.ie8 .moreWrapper:after, .ie8 .moreWrapper span { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/now/more_arrow.png", sizingMethod="scale"); }
.moreWrapper .text { color: #ffffff; font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; font-size: 0.83333em; }
/* overarching class for any chevrons that appear around text also include left/right, white/black, and specific attached class for custom sizes */
.chevron.left { padding-left: 8px; }
@media only screen and (min-width: 45em) { .chevron.left { padding-left: 15px; } }
.chevron.left:before, .chevron.left span { content: " "; position: absolute; left: 0; top: 0; bottom: 0; margin-top: auto; margin-bottom: auto; background: no-repeat left top transparent; background-size: 100% 100%; }
.chevron.left.headerlink { padding-left: 14px; }
@media only screen and (min-width: 57.5em) { .chevron.left.headerlink { padding-left: 24px; } }
.chevron.left.headerlink:before, .chevron.left.headerlink span { width: 6px; height: 10px; }
@media only screen and (min-width: 57.5em) { .chevron.left.headerlink:before, .chevron.left.headerlink span { width: 9px; height: 14px; } }
.chevron.left.linktag { padding-left: 14px; }
@media only screen and (min-width: 45em) { .chevron.left.linktag { padding-left: 24px; } }
.chevron.left.linktag:before, .chevron.left.linktag span { left: 9px 6px; width: 5px; height: 9px; }
@media only screen and (min-width: 45em) { .chevron.left.linktag:before, .chevron.left.linktag span { width: 7px; height: 11px; } }
.chevron.left.footerlink { padding-left: 10px; }
@media only screen and (min-width: 32.5em) { .chevron.left.footerlink { padding-left: 15px; } }
@media only screen and (min-width: 57.5em) { .chevron.left.footerlink { padding-left: 24px; } }
@media only screen and (min-width: 90em) { .chevron.left.footerlink { padding-left: 30px; } }
.chevron.left.footerlink:before, .chevron.left.footerlink span { width: 5px; height: 10px; }
@media only screen and (min-width: 32.5em) { .chevron.left.footerlink:before, .chevron.left.footerlink span { width: 8px; height: 14px; } }
@media only screen and (min-width: 57.5em) { .chevron.left.footerlink:before, .chevron.left.footerlink span { width: 11px; height: 17px; } }
@media only screen and (min-width: 90em) { .chevron.left.footerlink:before, .chevron.left.footerlink span { width: 12px; height: 19px; min-height: -11px; } }
.chevron.left.white:before, .chevron.left.white span { background-image: url("/images/misc/chevron_left_white.png"); }
.ie8 .chevron.left.white:before, .ie8 .chevron.left.white span { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/misc/chevron_left_white.png", sizingMethod="scale"); }
.chevron.left.white.tournav_custom { top: -3px; visibility: hidden; font-size: 16px; }
@media only screen and (min-width: 45em) { .chevron.left.white.tournav_custom { visibility: visible; } }
.chevron.left.white.tournav_custom2 { top: 7px; visibility: hidden; font-size: 16px; }
@media only screen and (min-width: 45em) { .chevron.left.white.tournav_custom2 { visibility: visible; } }
.chevron.left.black:before, .chevron.left.black span { background-image: url("/images/misc/chevron_left_black.png"); }
.ie8 .chevron.left.black:before, .ie8 .chevron.left.black span { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/misc/chevron_left_black.png", sizingMethod="scale"); }
@media only screen and (min-width: 57.5em) { .chevron.left.black:before, .chevron.left.black span { background-image: url("/images/misc/chevron_left_black_lrg.png"); }
.ie8 .chevron.left.black:before, .ie8 .chevron.left.black span { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/misc/chevron_left_black_lrg.png", sizingMethod="scale"); } }
.chevron.right { padding-right: 0; width: auto; }
.chevron.right:after, .chevron.right span { content: " "; position: absolute; top: 0; bottom: 0; margin-top: auto; margin-bottom: auto; background: no-repeat left top transparent; background-size: 100% 100%; }
.chevron.right.caption:after, .chevron.right.caption span { right: -16px; width: 7px; height: 12px; }
@media only screen and (min-width: 45em) { .chevron.right.caption:after, .chevron.right.caption span { right: -34px; width: 14px; height: 24px; } }
.chevron.right.players:after, .chevron.right.players span { right: -16px; width: 7px; height: 12px; }
.chevron.right.linktag:after, .chevron.right.linktag span { right: -15px; width: 5px; height: 9px; }
@media only screen and (min-width: 45em) { .chevron.right.linktag:after, .chevron.right.linktag span { width: 7px; height: 11px; } }
.chevron.right.livetag:after, .chevron.right.livetag span { width: 8px; height: 13px; margin-left: 15px; margin-left: 15px; }
@media only screen and (max-width: 44.9375em) { .chevron.right.livetag:after, .chevron.right.livetag span { width: 6px; height: 9px; margin-left: 8px; } }
.chevron.right.smsocialtag:after, .chevron.right.smsocialtag span { right: -10px; width: 7px; height: 11px; }
.chevron.right.footerlink { padding-right: 10px; }
@media only screen and (min-width: 32.5em) { .chevron.right.footerlink { padding-right: 15px; } }
@media only screen and (min-width: 57.5em) { .chevron.right.footerlink { padding-right: 24px; } }
@media only screen and (min-width: 90em) { .chevron.right.footerlink { padding-right: 30px; } }
.chevron.right.footerlink:after, .chevron.right.footerlink span { right: 0px; width: 5px; height: 10px; }
@media only screen and (min-width: 32.5em) { .chevron.right.footerlink:after, .chevron.right.footerlink span { width: 8px; height: 14px; } }
@media only screen and (min-width: 57.5em) { .chevron.right.footerlink:after, .chevron.right.footerlink span { width: 11px; height: 17px; } }
@media only screen and (min-width: 90em) { .chevron.right.footerlink:after, .chevron.right.footerlink span { width: 12px; height: 19px; } }
.chevron.right.white:after, .chevron.right.white span { background-image: url("/images/misc/chevron_right_white.png"); }
.ie8 .chevron.right.white:after, .ie8 .chevron.right.white span { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/misc/chevron_right_white.png", sizingMethod="scale"); }
.chevron.right.black:after, .chevron.right.black span { background-image: url("/images/misc/chevron_right_black.png"); }
.ie8 .chevron.right.black:after, .ie8 .chevron.right.black span { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/misc/chevron_right_black.png", sizingMethod="scale"); }
@media only screen and (min-width: 57.5em) { .chevron.right.black:after, .chevron.right.black span { background-image: url("/images/misc/chevron_right_black_lrg.png"); }
.ie8 .chevron.right.black:after, .ie8 .chevron.right.black span { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/misc/chevron_right_black_lrg.png", sizingMethod="scale"); } }
/* hero image definitions */
.background { background: transparent no-repeat center center; background-size: cover; }
.standard { background: transparent no-repeat center center; }
.standard_gradient { background: transparent no-repeat center center; }
/* end */
.back-button .headerlink { display: none; }
@media only screen and (min-width: 32.5em) { .label.icon { margin-bottom: 10px; margin-left: 12px; }
.caption { padding: 0 15px; bottom: 10px; font-size: 1.66667em; }
.label.icon + .caption { margin-left: 47px; padding-right: 15px; } }
@media only screen and (min-width: 45em) { .wrapperFull .label.icon { margin-bottom: 13px; }
.wrapperThird .label.icon { margin-bottom: 10px; }
.caption { font-size: 2.16667em; padding: 0 20px; }
.wrapperHalf .caption, .wrapperThird .caption { font-size: 1.66667em; }
.background { background-attachment: fixed; }
.background.not_fixed { background-attachment: scroll; }
.moreWrapper { height: 38px; }
.moreWrapper:after, .moreWrapper span { width: 32px; height: 17px; margin-left: -16px; }
.moreWrapper .text { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; font-size: 1.08333em; }
.text.extended-width { width: 73.61111%; max-width: 1060px; }
.text a.link_txt_small { font-size: 1.0em; }
.back-button .headerlink { display: block; } }
@media only screen and (min-width: 57.5em) { .headerlink { font-size: 1.333em; }
.label.text { font-size: 1.333em; line-height: 1.125em; }
.image:before { height: 60px; background-size: 100% 60px; } }
@media only screen and (min-width: 90em) { .caption { font-size: 2.66667em; line-height: 1.155em; }
.wrapperHalf .caption, .wrapperThird .caption { font-size: 2.1667em; }
.image:before { height: 80px; background-size: 100% 80px; } }
.scroll_content, .jscroll-inner { *zoom: 1; }
.scroll_content:before, .scroll_content:after, .jscroll-inner:before, .jscroll-inner:after { content: ""; display: table; }
.scroll_content:after, .jscroll-inner:after { clear: both; }
a.loading { display: block; text-align: center; *zoom: 1; }
a.loading:before, a.loading:after { content: ""; display: table; }
a.loading:after { clear: both; }
a.loading img { margin: 50px auto; }
/* styles for jScrollPane Vertical scroll bars */
.jspContainer { position: relative; overflow: hidden; -ms-touch-action: pinch-zoom; z-index: 1; outline: none; }
.jspPane { position: absolute; }
.jspCap { display: none; }
.jspTrack { background: #F0F0F0; position: relative; }
.jspDrag { background: #BEBEBE; position: relative; top: 0; left: 0; cursor: pointer; }
.jspArrowUp { background-position: 0px 0px; }
.jspArrowDown { background-position: 0px -10px !important; }
.jspArrowLeft { background-position: 0px 0px; }
.jspArrowRight { background-position: -10px 0px !important; }
.jspArrow:focus { outline: none; }
.jspCorner { background: #eeeef4; float: left; height: 100%; }
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }
.jspVerticalBar { position: absolute; top: 0; right: 0; width: 10px; height: 100%; background: #FFFFFF; }
.jspVerticalBar .jspArrow { background: url(/images/misc/scroll_arrows.png) no-repeat; text-indent: -20000px; display: block; cursor: pointer; height: 10px; }
.jspVerticalBar .jspArrow:hover { background: url(/images/misc/scroll_arrows_hover.png) no-repeat; }
.jspVerticalBar .jspArrow.jspDisabled { background: url(/images/misc/scroll_arrows_disabled.png) no-repeat; cursor: default; }
.jspHorizontalBar { position: absolute; bottom: 0; left: 0; height: 10px; width: 100%; background: #ffffff; }
/** global lightbox overlay styles **/
#lightIntro, #light, #fade { display: none; }
.white_content { position: absolute; background: #000000; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 100; overflow: visible; text-align: left; }
#background_video { position: relative; width: 100%; height: 100%; overflow: hidden; top: 0px; left: 0px; /*z-index:8;*/ z-index: -8; text-align: left; background: #222222; }
#light { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; text-align: left; z-index: 10; }
#light .overlay_panel { z-index: 2; }
#fade { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; text-align: left; background-color: #000000; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; z-index: 1; }
#overlayShare { position: fixed; top: 90px; left: 0; right: 0; margin: 0 auto; width: 100%; max-width: 305px; height: 173px; }
#overlayShare .socialOverlay { background-color: white; }
.ie8 #overlayShare .socialOverlay { -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF')"; }
#overlayShare .socialOverlay .social_box { width: 180px; padding-top: 10px; }
@media only screen and (min-width: 32.5em) { #overlayShare { top: 140px; } }
@media only screen and (min-width: 45em) { #overlayShare { top: 0; bottom: 0; margin: auto; max-width: 422px; height: 234px; }
#overlayShare .socialOverlay .social_box { width: 310px; } }
@media only screen and (min-width: 57.5em) { #overlayShare .socialOverlay .header { font-size: 2.333em; } }
/**************** What's New ****************/
.whats-new-panel { position: fixed; z-index: 10; }
.whats-new-panel .content { background-color: rgba(0, 0, 0, 0.6); border: solid 1px #ffffff; position: relative; left: 0px; right: 0px; }
.whats-new-panel .content.bottom { bottom: 0px; margin-bottom: 25px; }
.whats-new-panel .content.hide { display: none; }
.whats-new-panel .close { padding-bottom: 5px; float: right; }
.whats-new-panel .message { width: 100%; height: 100%; color: #ffffff; text-align: center; font-family: "Source Sans Pro Light", Arial, Helvetica, sans-serif; font-weight: 300; font-size: 15px; display: inline-block; }
.whats-new-panel .message img { display: inline; }
.whats-new-panel .message .newArrows { margin: 0px auto; }
.whats-new-panel .message .newArrows.right { float: right; }
.whats-new-panel .message .newArrows.left { float: left; }
.whats-new-panel .message .newArrows.right, .whats-new-panel .message .newArrows.left { margin: 0px; width: 50px; }
.whats-new-panel .message .newArrows.center { margin: auto; }
.whats-new-panel .message .newArrows.down, .whats-new-panel .message .newArrows.up { height: 25px; }
.whats-new-panel#floatVideo { bottom: 100px; right: 540px; width: 250px; }
.whats-new-panel#heroVideo { width: 200px; position: absolute; }
.whats-new-panel#shotList { width: 280px; bottom: 60px; right: 50px; }
.whats-new-panel#shotListHighlight { display: none; }
.whats-new-panel#greenDetailView { width: 300px; top: 150px; left: 50%; margin-left: -150px; }
.whats-new-panel#greenDetailView .message { text-align: left; }
.whats-new-panel#greenDetailView .close { position: absolute; right: 10px; top: 18px; padding-bottom: 0px; }
@media only screen and (max-width: 44.9375em) { .whats-new-panel#heroVideo, .whats-new-panel#floatVideo, .whats-new-panel#shotList { display: none !important; }
.whats-new-panel#shotListHighlight { display: block; width: 200px; left: 50%; margin-left: -100px; bottom: 44px; } }
/************ End of What's New **************/
@keyframes ease-from-top { 0% { transform: translate3d(0, -100%, 0); }
100% { transform: translate3d(0, 0, 0); } }
@keyframes ease-from-left { 0% { transform: translate3d(-110%, 0, 0); }
100% { transform: translate3d(0, 0, 0); } }
#notifications { position: fixed; z-index: 7; top: 40px; width: 100%; height: auto; background-color: #ffffff; border: solid 1px #000000; left: 0; right: 0; padding: 15px 10px; box-shadow: 0px 0px 10px -2px #000000; }
#notifications.right { right: 0px; margin-right: 25px; }
#notifications.bottom { bottom: 0px; margin-bottom: 25px; }
#notifications.hide { display: none; }
#notifications.visible, #notifications.close { animation: ease-from-top 0.5s normal linear; }
#notifications.close { animation-direction: reverse; }
#notifications .close { position: absolute; top: 10px; right: 5px; }
#notifications .close a { display: block; padding: 5px; }
#notifications .message { width: 75%; width: calc(100% - 73px); height: 100%; display: inline-block; padding: 0px 5px; }
#notifications .message a { text-decoration: none; }
#notifications .message .text { color: #000000; text-align: left; font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; }
#notifications .message .link { color: #1c6344; font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; display: inline-block; padding: 5px 0px; }
#notifications .message .link .icon { display: inline-block; padding-left: 5px; vertical-align: middle; }
#notifications .message .link .icon.video img { background: url("/images/misc/play_btn_green.png") no-repeat; width: 13px; height: 13px; background-size: 13px 13px; }
#notifications .message .channels { font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; font-size: 16px; color: #000000; text-align: left; }
#notifications .message .channels .live { padding: 2px; margin-right: 5px; }
#notifications .message .title { font-family: "Source Sans Pro Bold", Arial, Helvetica, sans-serif; font-weight: 700; font-size: 14px; color: #1c6344; }
#notifications .logo { width: 38px; margin-left: 10px; margin-right: 10px; height: 48px; float: left; }
@media only screen and (min-width: 45em) { #notifications { top: 50px; width: 320px; padding: 15px 10px; right: auto; margin-top: 10px; left: 0; margin-left: 10px; }
#notifications.visible, #notifications.close { animation-name: ease-from-left; } }
