<head>
  <title>2017 Meridian Cup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Meridian Cup 2017, The Meridian, The Champ, The Jacket">
  <meta name="description" content="The Official Site of the Meridian Cup Golf Tournament">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="language" content="EN">
  <meta name="author" content="">

  <!-- common styles -->
  <link rel="stylesheet" href="/mas/css/fluid.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/mas/css/global.css" type="text/css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/mas/css/lb_widget.css" />
  <link rel="stylesheet" type="text/css" href="/mas/css/player_wrapper.css" />
  <link rel="stylesheet" type="text/css" href="/mas/css/panel.css" />
  <link rel="stylesheet" type="text/css" href="/mas/css/leaderboard_everywhere.css" />
  <link rel="stylesheet" type="text/css" href="/ecp/css/corePlayerControls.css" />
  <link rel="stylesheet" href="/mas/css/style.css" type="text/css" media="screen" />
  <script type="text/javascript">var require={waitSeconds: 0};</script>
  <script src="/mas/js/libs/require-min.js" data-main="/dist/app"></script>

  <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="app" src="/dist/app.js"></script>
  <!--script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/3A69050A-9114-EE4E-BE1A-CC9F8F0FF988/main.js" charset="UTF-8"></script-->
  <!--script type="text/javascript">var require={waitSeconds: 0};</script-->
</head>

