<header id="top">
  <noindex>
    <a href="#menu" class="menu-link" alt="Menu"><span></span></a>
    <div id="eventLogo"><a href="/en_US/index.html">Meridian</a></div>
    <div class="rightNavHeader">
      <div id="sponsors" class="sponsors">
        <div>
          <a data-bypass href="https://www.facebook.com/Meridiancup" target="_blank">
            <img src="/images/logos/fb-art.png" border="0" height="22" width="22" alt="Facebook"/>
          </a>
        </div>
        <div>
          <a data-bypass href="https://www.facebook.com/Meridiancup" target="_blank">
            <img src="/images/logos/fb-art.png" border="0" height="22" width="22" alt="Facebook"/>
          </a>
        </div>
        <div>
          <a data-bypass href="https://www.facebook.com/Meridiancup" target="_blank">
            <img src="/images/logos/fb-art.png" border="0" height="22" width="22" alt="Facebook"/>
          </a>
        </div>
      </div>
      <div class="leaderboardEverywhereIcon hidden"></div>
    </div>
  </noindex>
</header>

