<!--Begin navigation-->
<section class="nav-wrap">
  <noindex>
    <nav class="mainmenu" id="menu" role="navigation">
      <ul>
        <li id="home">
          <a href="/en_US/index.html">Home</a>
        </li>
        <li id="leaderboard">
          <a href="/en_US/scores/index.html" class="selected">Leader Board</a>
        </li>
      </ul>
    </nav>
    <nav id="submenu" role="navigation">
      <ul>
        <li><a href="/en_US/players/player_list.html">Players</a></li>
        <li><a href="/en_US/tournament/schedule.html">Schedule</a></li>
        <li><a href="/en_US/players/pairings.html">Tee Times</a></li>
        <li><a href="/en_US/course/index.html">The Courses</a></li>
        <li><a href="/en_US/residence/index.html">The Residence</a></li>
      </ul>
      <div class="footer">
        <div class="text">
          &copy; 2017 Meridian Cup Championship
        </div>
      </div>
    </nav>
  </noindex>
</section>
<!--End navigation-->

