<link rel="stylesheet" href="/mas/css/course_markers.css" type="text/css" media="screen">

<section class="hero-wrap standard">
  <!-- course map -->
  <div id="welcome" class="hero-content coursemap">
    <div class="imageWrapper" style="">
      <!--img src="/images/course/course_map15_lg.jpg" data-lower="/images/course/m_course_map15.jpg" data-medium="/images/course/course_map15_md.jpg" data-high="/images/course/course_map15_lg.jpg" class="unveiled" style="">
      <div class="holeMarker" id="hole1"><a href="/en_US/course/hole1.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 1"></a></div>
      <div class="holeMarker" id="hole2"><a href="/en_US/course/hole2.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 2"></a></div>
      <div class="holeMarker" id="hole3"><a href="/en_US/course/hole3.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 3"></a></div>
      <div class="holeMarker" id="hole4"><a href="/en_US/course/hole4.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 4"></a></div>
      <div class="holeMarker" id="hole5"><a href="/en_US/course/hole5.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 5"></a></div>
      <div class="holeMarker" id="hole6"><a href="/en_US/course/hole6.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 6"></a></div>
      <div class="holeMarker" id="hole7"><a href="/en_US/course/hole7.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 7"></a></div>
      <div class="holeMarker" id="hole8"><a href="/en_US/course/hole8.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 8"></a></div>
      <div class="holeMarker" id="hole9"><a href="/en_US/course/hole9.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 9"></a></div>
      <div class="holeMarker" id="hole10"><a href="/en_US/course/hole10.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 10"></a></div>
      <div class="holeMarker" id="hole11"><a href="/en_US/course/hole11.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 11"></a></div>
      <div class="holeMarker" id="hole12"><a href="/en_US/course/hole12.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 12"></a></div>
      <div class="holeMarker" id="hole13"><a href="/en_US/course/hole13.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 13"></a></div>
      <div class="holeMarker" id="hole14"><a href="/en_US/course/hole14.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 14"></a></div>
      <div class="holeMarker" id="hole15"><a href="/en_US/course/hole15.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 15"></a></div>
      <div class="holeMarker" id="hole16"><a href="/en_US/course/hole16.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 16"></a></div>
      <div class="holeMarker" id="hole17"><a href="/en_US/course/hole17.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 17"></a></div>
      <div class="holeMarker" id="hole18"><a href="/en_US/course/hole18.html" class="holeNumber"><img src="/images/misc/trans.gif" width="42" height="43" alt="Hole 18"></a></div-->
    </div>
  </div>
  <!--[if lt IE 9]><div class="iebg fullheight"><img src="/images/course/course_map15_lg.jpg" /></div><![endif]-->
</section>

<section class="page-wrap videolistContainer">
  <section class="body">
    <div class="courseholes content-padding">
      <div id="hole1" data-type="highlight" data-size="Half" class="wrapper wrapperHalf visible">
      	<div class="containerVideo containerHighlight">
	      	<a href="/en_US/course/hole1.html">
	       		<div class="image">
 	   		      <img class="srcpic unveiled" data-high="/images/course/720x405/H_hole1.jpg" data-medium="/images/course/480x270/H_hole1.jpg" data-lower="/images/course/720x405/H_hole1.jpg" src="/images/course/480x270/H_hole1.jpg">
 	        	</div>
         		<div class="caption">
 	         		<div class="infoTitle">
 	         			<div class="holeno">&nbsp;</div>
 		            <div class="par">Par</div>
 		            <div class="yards">Yards</div>
 	            </div>
 	      		  <div class="infoData">
 			        	<div class="holeno">Thursday AM, We-Ko-Pa -- Cholla</div>
 			        	<div class="par">72</div>
 			        	<div class="yards">6740</div>
  		    		</div>
	  	    	</div>
		      	<div class="centered_icon flagstick"></div>
		      </a>
      	</div>
      </div>
      <div id="hole2" data-type="highlight" data-size="Half" class="wrapper wrapperHalf visible">
      	<div class="containerVideo containerHighlight">
	      	<a href="/en_US/course/hole2.html">
			      <div class="image">
 		        	<img class="srcpic unveiled" data-high="/images/course/720x405/H_hole2.jpg" data-medium="/images/course/480x270/H_hole2.jpg" data-lower="/images/course/720x405/H_hole2.jpg" src="/images/course/480x270/H_hole2.jpg">
   		      </div>
 	  	      <div class="caption">
 		        	<div class="infoTitle">
 			  	      <div class="holeno">&nbsp;</div>
 				        <div class="par">Par</div>
 				        <div class="yards">Yards</div>
   			      </div>
 	  		      <div class="infoData">
 		  		      <div class="holeno">Thursday PM, We-Ko-Pa -- Saguaro </div>
 			  	      <div class="par">71</div>
 			        	<div class="yards">6603</div>
   				    </div>
	  		    </div>
		  	    <div class="centered_icon flagstick"></div>
		      </a>
  	    </div>
      </div>
    
      <div id="hole3" data-type="highlight" data-size="Half" class="wrapper wrapperHalf visible">
      	<div class="containerVideo containerHighlight">
	      	<a href="/en_US/course/hole3.html">
	       		<div class="image">
 	   		      <img class="srcpic unveiled" data-high="/images/course/720x405/H_hole3.jpg" data-medium="/images/course/480x270/H_hole3.jpg" data-lower="/images/course/720x405/H_hole3.jpg" src="/images/course/480x270/H_hole3.jpg">
 	      	  </div>
         		<div class="caption">
 	         		<div class="infoTitle">
 	         			<div class="holeno">&nbsp;</div>
 		            <div class="par">Par</div>
 		            <div class="yards">Yards</div>
   	          </div>
 	      		  <div class="infoData">
 		  	      	<div class="holeno">Friday AM, Troon North -- Pinnacle</div>
 			        	<div class="par">71</div>
 			        	<div class="yards">6635</div>
  		    		</div>
	  	    	</div>
		      	<div class="centered_icon flagstick"></div>
  		    </a>
      	</div>
      </div>
      <div id="hole4" data-type="highlight" data-size="Half" class="wrapper wrapperHalf visible">
      	<div class="containerVideo containerHighlight">
	      	<a href="/en_US/course/hole4.html">
			      <div class="image">
 		        	<img class="srcpic unveiled" data-high="/images/course/720x405/H_hole4.jpg" data-medium="/images/course/480x270/H_hole4.jpg" data-lower="/images/course/720x405/H_hole4.jpg" src="/images/course/480x270/H_hole4.jpg">
   		      </div>
 	  	      <div class="caption">
 		        	<div class="infoTitle">
 			  	      <div class="holeno">&nbsp;</div>
 				        <div class="par">Par</div>
 				        <div class="yards">Yards</div>
   			      </div>
 	  		      <div class="infoData">
 		  		      <div class="holeno">Friday PM, Troon North -- Monument</div>
 			  	      <div class="par">72</div>
 			        	<div class="yards">6716</div>
				      </div>
  			    </div>
	  		    <div class="centered_icon flagstick"></div>
  		    </a>
	      </div>
      </div>
    
      <div id="hole5" data-type="highlight" data-size="Half" class="wrapper wrapperHalf visible">
      	<div class="containerVideo containerHighlight">
	      	<a href="/en_US/course/hole5.html">
	       		<div class="image">
 	   		      <img class="srcpic unveiled" data-high="/images/course/720x405/H_hole5.jpg" data-medium="/images/course/480x270/H_hole5.jpg" data-lower="/images/course/720x405/H_hole5.jpg" src="/images/course/480x270/H_hole5.jpg">
   	      	</div>
         		<div class="caption">
 	         		<div class="infoTitle">
 	         			<div class="holeno">&nbsp;</div>
 		            <div class="par">Par</div>
 		            <div class="yards">Yards</div>
   	          </div>
 	      		  <div class="infoData">
 		  	      	<div class="holeno">Saturday, Boulders North</div>
 			        	<div class="par">72</div>
 			        	<div class="yards">6811</div>
		    	  	</div>
  		    	</div>
	  	    	<div class="centered_icon flagstick"></div>
		      </a>
      	</div>
      </div>
      <div id="hole6" data-type="highlight" data-size="Half" class="wrapper wrapperHalf visible">
      	<div class="containerVideo containerHighlight">
	      	<a href="/en_US/course/hole6.html">
			      <div class="image">
 		        	<img class="srcpic unveiled" data-high="/images/course/720x405/H_hole6.jpg" data-medium="/images/course/480x270/H_hole6.jpg" data-lower="/images/course/720x405/H_hole6.jpg" src="/images/course/480x270/H_hole6.jpg">
   		      </div>
 	  	      <div class="caption">
 		        	<div class="infoTitle">
 			  	      <div class="holeno">&nbsp;</div>
 				        <div class="par">Par</div>
 				        <div class="yards">Yards</div>
 			        </div>
   			      <div class="infoData">
 	  			      <div class="holeno">Sunday, Quintero</div>
 		  		      <div class="par">72</div>
 			        	<div class="yards">6675</div>
				      </div>
			      </div>
  			    <div class="centered_icon flagstick"></div>
	  	    </a>
	      </div>
      </div>
    
    </div>
  </section>
  <style>
    section.page-wrap {
    background-image: url(/images/backgrounds/hole_white_sm.jpg);
    background-color:#FFFFFF;
    }
    @media only screen and (min-width: 45em) {
    section.page-wrap {
    background-image: url(/images/backgrounds/hole_white_med.jpg);
    }
    }
    @media only screen and (min-width: 57.5em) {
    section.page-wrap {
    background-image: url(/images/backgrounds/hole_white.jpg);
    }
    }
  </style>
</section>

<script type="application/json" class="page_vars">
{
"documentTitle": "Course"
}
</script>

