<section class="hero-wrap half-height">
  <div id="welcome" class="hero-content">
    <img src="/images/headers/header_info_med.jpg" data-lower="/images/headers/header_info_sm.jpg" data-medium="/images/headers/header_info_med.jpg" data-high="/images/headers/header_info.jpg" class="unveiled">
    <div class="contentWrapper">
    <!-- <a href="/path/to/info" id="linkabout" class="headerlink chevron left white">
      <!--[if lt IE 9]>
      <span></span>
      <![endif]TOURNAMENT INFO</a>-->
      <div class="articleInfoWrapper">
        <div class="articleInfo centered">
          <div class="title">2017 Schedule</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Begin Content-->

<section class="page-wrap">
  <article> 
    <!-- class="content-padding" -->
    <div class="full-schedule">
      <h2>Tournament Schedule</h2>
      <h3>November</h3>
      <div class="day-nav">
        <a class="day-container selected" href="#day1" data-current="true">
          <div class="day">Mon</div>
        </a>
        <a class="day-container" href="#day2" data-current="false">
          <div class="day">Tue</div>
        </a>
        <a class="day-container" href="#day3" data-current="false">
          <div class="day">Wed</div>
          <div class="date">1</div>
          <div class="description">Practice Round</div>
        </a>
        <a class="day-container" href="#day4" data-current="false">
          <div class="day">Thu</div>
          <div class="date">2</div>
          <div class="description">Round 1<br />AM/PM</div>
        </a>
        <a class="day-container" href="#day5" data-current="false">
          <div class="day">Fri</div>
          <div class="date">3</div>
          <div class="description">Round 2<br />AM/PM</div>
        </a>
        <a class="day-container" href="#day6" data-current="false">
          <div class="day">Sat</div>
          <div class="date">4</div>
          <div class="description">Round 3</div>
        </a>
        <a class="day-container" href="#day7" data-current="false">
          <div class="day">Sun</div>
          <div class="date">5</div>
          <div class="description">Round 4</div>
        </a>
      </div>
    </div>
  </article>
  <!--End of Content-->
  <style>
  section.page-wrap {
  background-image: url(/images/backgrounds/hole_white_sm.jpg);
  background-color:#FFFFFF;
  }
  @media only screen and (min-width: 45em) {
  section.page-wrap {
  background-image: url(/images/backgrounds/hole_white_med.jpg);
  }
  }
  @media only screen and (min-width: 57.5em) {
  section.page-wrap {
  background-image: url(/images/backgrounds/hole_white.jpg);
  }
  }
  </style><!--[if lt IE 9]><div class="iepagebg"><img src="/images/backgrounds/hole_white.jpg" data-lower="/images/backgrounds/hole_white_sm.jpg" data-medium="/images/backgrounds/hole_white_med.jpg" data-high="/images/backgrounds/hole_white.jpg" /></div><style>
  section.page-wrap { background-image: none; }
  body { background-color: #FFFFFF; }
  </style><![endif]-->
</section>

<script type="application/json" class="page_vars">
{
"documentTitle": "Tournament Schedule",
"pageState": "stub"
}
</script>
