<!-- custom styles -->
<link rel="stylesheet" href="/mas/css/players.css" type="text/css" media="screen">
<section class="hero-wrap half-height">
  <div id="welcome" class="hero-content">
    <img data-high="/images/headers/header_players.jpg" data-medium="/images/headers/header_players_med.jpg" data-lower="/images/headers/header_players_sm_new.jpg" src="/images/headers/header_players_med.jpg" class="unveiled">
    <div class="contentWrapper">
      <div class="articleInfoWrapper">
        <div class="articleInfo centered">
          <div class="title">Players</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-wrap player-landing-content">
  <section class="player-landing">
    <div class="utilities">
      <div class="selectbox">
        <div class="player_search_cell">
          <div id="lbSearch">
            <input id="searchField" type="text" placeholder="Find a Player">
            <div id="lbSearchButton"></div>
            <div class="lbClearButton"></div>
          </div>
        </div>
        <div class="player_filter_cell">
          <div id="playerSelector" class="filter"> 
            <div class="selectedContainer">
              <a href="#" class="selected_option">All Players</a>
            </div> 
          <div class="options"> 
            <a class="option selected" href="#" data-src="all">All Players</a> 
            <a class="option" href="#" data-src="fav">Favorites</a> 
            <a class="option" href="#" data-src="first">First Time Participants</a> 
            <a class="option" href="#" data-src="pastChamps">Past Champions</a> 
          </div> 
          </div>
        </div>
      </div>
      <div class="link">
        <a href="/en_US/players/invitees_2017.html" class="players chevron right black">2017 Invitees</a>
      </div>
    </div>

    <div class="playerList">
      <div id="p_33948" class="playerCard item">
        <a href="/en_US/players/player_33948.html?promo=bio_players">
          <div class="image">
            <img src="/images/players/2016/320x180/33948.jpg" data-lower="/images/players/2016/720x405/33948.jpg" data-medium="/images/players/2016/320x180/33948.jpg" data-high="/images/players/2016/480x270/33948.jpg" class="unveiled">
          </div>
          <div class="playerInfo">
            <div class="name">Byeong-Hun An </div>
            <div class="country"><img src="/images/flags/KOR_sm.gif" width="25" height="15" border="0">Korea</div>
            <div class="favorite ">&nbsp;</div>
          </div>
        </a>
      </div>
    </div>

  </section>

  <style>
  section.page-wrap {
  background-image: url(/images/backgrounds/hole_white_sm.jpg);
  background-color:#FFFFFF;
  }
  @media only screen and (min-width: 45em) {
  section.page-wrap {
  background-image: url(/images/backgrounds/hole_white_med.jpg);
  }
  }
  @media only screen and (min-width: 57.5em) {
  section.page-wrap {
  background-image: url(/images/backgrounds/hole_white.jpg);
  }
  }
  </style>

</section>


<script type="application/json" class="page_vars">
{
"documentTitle": "Players"
}
</script>
