<section class="hero-wrap">
  <script type="application/json" class="page_vars">
  {
  "metrics": {
  "prop36": "hero_articles_RidleyReadyforNewRole"
  }
  }
  </script>
  <div id="welcome" class="hero-content background not_fixed unveiled" data-lower-portrait="/images/pics/large/o_Ridley_B.jpg" data-lower="/images/pics/large/b_Ridley_B.jpg" data-medium="/images/pics/large/h_Ridley_B.jpg" data-high="/images/pics/large/h_Ridley_B.jpg" style="background-image: url(&quot;/images/pics/large/h_Ridley_B.jpg&quot;);">
    <div class="hero_promo">
      <div class="caption">Ridley Ready for New Role</div>
    </div>
    <div class="contentWrapper">
      <div class="media_promo">
        <a href="/en_US/news/articles/2017-10-16/2017-10-13_ridley_ready_for_new_role.html?promo=hero_articles_RidleyReadyforNewRole">
          <div class="centered_icon"></div>
        </a>
      </div>
    </div>
    <div class="moreWrapper" style="opacity: 1;">
      <div class="text">Scroll for More</div>
      <!--[if lt IE 9]><span></span><![endif]-->
    </div>
    <!--[if lt IE 9]><div class="iebg horizontal"><img src="/images/pics/large/h_Ridley_B.jpg"></div><![endif]-->
  </div>
</section>

<section class="page-wrap">
  <section class="body">
    <div class="navWrapper stickybar">
      <div class="filter" id="daySelector">
        <div class="selected_container">
          <a href="#" class="selected_option">Latest News</a>
        </div>
        <div class="options">
          <a href="#" class="option selected" data-src="latest">Latest News</a>
          <a href="#" class="option" data-src="now_sunday_april_9_2017">Sunday, April 10, 2017</a>
          <a href="#" class="option" data-src="now_saturday_april_8_2017">Saturday, April 9, 2017</a>
          <a href="#" class="option" data-src="now_friday_april_7_2017">Friday, April 8, 2017</a>
          <a href="#" class="option" data-src="now_thursday_april_6_2017">Thursday, April 7, 2017</a>
          <a href="#" class="option" data-src="now_wednesday_april_5_2017">Wednesday, April 6, 2017</a>
          <a href="#" class="option" data-src="now_tuesday_april_4_2017">Tuesday, April 5, 2017</a>
          <a href="#" class="option" data-src="now_pre_tourn">Pre-Tournament</a>
        </div>
      </div>
    </div>
    <div class="tabWrapper dark">
      <div class="tabs" id="mediaSelector">
        <a href="#tab_all" class="selected">All <span>Content</span></a>
        <a href="#tab_favorite" style="" class="disabled">Favorites</a>
        <a href="#tab_news">News</a><a href="#tab_photos">Photos</a>
        <a href="#tab_videos">Featured Videos</a>
        <a href="#tab_insights" class="disabled">Insights</a>
      </div>
    </div>
    <section class="content content-padding">
      <div id="scroll_now_sunday_april_9_2017" class="scroll_content">
        <div class="jscroll-inner">
          <div class="jscroll-added">
            <div class="wrapper visible wrapperHalf" data-size="Half" data-type="article" data-players="" id="content" data-content-id="">
              <a href="/en_US/news/articles/2017-10-09/the_masters_tournament_welcomes_delta_air_lines_as_international_partner.html" target="">
                <div class="containerArticle">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/h_chANGC163mm2340.jpg" data-lower="/images/pics/large/h_chANGC163mm2340.jpg" data-medium="/images/pics/large/h_chANGC163mm2340.jpg" data-high="/images/pics/large/h_chANGC163mm2340.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row">
                    <div class="caption">The Masters Tournament Welcomes Delta Air Lines as International Partner</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="wrapper visible wrapperHalf" data-size="Half" data-type="article" data-players="" id="content" data-content-id="">
              <a href="/en_US/news/articles/2017-08-23/2017-08-23_payne_announces_retirement_ridley_named_successor.html" target="">
                <div class="containerArticle">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/h_2014041324987.jpg" data-lower="/images/pics/large/h_2014041324987.jpg" data-medium="/images/pics/large/h_2014041324987.jpg" data-high="/images/pics/large/h_2014041324987.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row"> 
                    <div class="caption">Payne Announces Retirement, Ridley Named Successor</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="wrapper visible wrapperHalf" data-size="Half" data-type="article" data-players="" id="content" data-content-id="">
              <a href="/en_US/news/articles/2017-07-14/2017-07-14_statement_from_chairman_billy_payne_regarding_the_passing_of_hootie_johnson.html" target="">
                <div class="containerArticle">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/h_ANGC11758.jpg" data-lower="/images/pics/large/h_ANGC11758.jpg" data-medium="/images/pics/large/h_ANGC11758.jpg" data-high="/images/pics/large/h_ANGC11758.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row"> 
                    <div class="caption">Statement from Chairman Billy Payne Regarding the Passing of Hootie Johnson</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="wrapper visible wrapperHalf" data-size="Half" data-type="video" data-players="" id="content" data-content-id="">
              <a href="/en_US/watch/2017-04-09/49cd0d2-00c0fb67208.html?promo=vod_home" target="">
                <div class="containerVideo">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/h_ANGC.2017.Champion.Garcia.v3.jpg" data-lower="/images/pics/large/h_ANGC.2017.Champion.Garcia.v3.jpg" data-medium="/images/pics/large/h_ANGC.2017.Champion.Garcia.v3.jpg" data-high="/images/pics/large/h_ANGC.2017.Champion.Garcia.v3.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row">
                    <div class="caption">&nbsp;</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="wrapper visible wrapperFull" data-size="Full" data-type="article" data-players="" id="content" data-content-id="">
              <a href="/en_US/news/articles/2017-04-09/garcia_outlasts_rose_to_claim_first_major_victory.html" target="">
                <div class="containerArticle">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/h_2017040929306.jpg" data-lower="/images/pics/large/h_2017040929306.jpg" data-medium="/images/pics/large/h_2017040929306.jpg" data-high="/images/pics/large/h_2017040929306.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row">
                    <div class="label icon news"></div
                    <div class="caption">Garcia Outlasts Rose to Claim First Major Victory</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <style>
  section.page-wrap {
  background-image: url(/images/backgrounds/home_clouds_sm.jpg);
  background-color:transparent;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 0;
  }
  @media only screen and (min-width: 45em) {
  section.page-wrap {
  background-image: url(/images/backgrounds/home_clouds_med.jpg);
  }
  }
  @media only screen and (min-width: 57.5em) {
  section.page-wrap {
  background-image: url(/images/backgrounds/home_clouds.jpg);
  }
  }
  </style><!--[if lt IE 9]><div class="iefixedbg horizontal"><img src="/images/backgrounds/home_clouds.jpg" /></div><style>section.page-wrap { background-image: none !important; }</style><![endif]-->
</section>
<script type="application/json" class="page_vars">
{
"documentTitle": "Home"
}
</script>
