<!--section class="hero-wrap"></section-->

<section class="page-wrap">
  <section class="body">
    <div class="navWrapper stickybar">
      <div class="filter" id="daySelector">
        <div class="selected_container">
          <a href="#" class="selected_option">Latest News</a>
        </div>
        <div class="options">
          <a href="#" class="option selected" data-src="latest">Latest News</a>
          <a href="#" class="option" data-src="now_pre_tourn">Pre-Tournament</a>
        </div>
      </div>
    </div>
    <!--div class="tabWrapper dark">
      <div class="tabs" id="mediaSelector">
        <a href="#tab_all" class="selected">All <span>Content</span></a>
        <a href="#tab_favorite" style="" class="disabled">Favorites</a>
        <a href="#tab_news">News</a>
        <a href="#tab_photos">Photos</a>
        <a href="#tab_videos">Featured Videos</a>
        <a href="#tab_insights" class="disabled">Insights</a>
      </div>
    </div-->
    <section class="content content-padding">
      <div id="scroll_now_sunday_april_9_2017" class="scroll_content">
        <div class="jscroll-inner">
          <div class="jscroll-added">
            <div class="wrapper visible wrapperHalf" data-size="Half" data-type="article" data-players="" id="content" data-content-id="">
              <!--a href="/en_US/news/articles/2017-10-09/the_masters_tournament_welcomes_delta_air_lines_as_international_partner.html" target=""-->
                <div class="containerArticle">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/scottsdale.jpg" data-lower="/images/pics/large/scottsdale.jpg" data-medium="/images/pics/large/scottsdale.jpg" data-high="/images/pics/large/scottdale.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row">
                    <div class="caption">Scottsdale Return Has Some Reminiscing</div>
                  </div>
                </div>
              <!--/a-->
            </div>
            <div class="wrapper visible wrapperHalf" data-size="Half" data-type="article" data-players="" id="content" data-content-id="">
              <!--a href="/en_US/news/articles/2017-08-23/2017-08-23_payne_announces_retirement_ridley_named_successor.html" target=""-->
                <div class="containerArticle">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/champions.jpg" data-lower="/images/pics/large/champions.jpg" data-medium="/images/pics/large/champions.jpg" data-high="/images/pics/large/champions.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row"> 
                    <div class="caption">Past Champions Give Back</div>
                  </div>
                </div>
              <!--/a-->
            </div>
            <div class="wrapper visible wrapperHalf" data-size="Half" data-type="article" data-players="" id="content" data-content-id="">
              <!--a href="/en_US/news/articles/2017-07-14/2017-07-14_statement_from_chairman_billy_payne_regarding_the_passing_of_hootie_johnson.html" target=""-->
                <div class="containerArticle">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/irma.jpg" data-lower="/images/pics/large/irma.jpg" data-medium="/images/pics/large/irma.jpg" data-high="/images/pics/large/irma.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row"> 
                    <div class="caption">Hurricane Irma Prompts Return to Scottsdale for 2017 Meridian Cup</div>
                  </div>
                </div>
              <!--/a-->
            </div>
            <div class="wrapper visible wrapperHalf" data-size="Half" data-type="article" data-players="" id="content" data-content-id="">
              <!--a href="/en_US/news/articles/2017-07-14/2017-07-14_statement_from_chairman_billy_payne_regarding_the_passing_of_hootie_johnson.html" target=""-->
                <div class="containerArticle">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/champ_life.jpg" data-lower="/images/pics/large/champ_life.jpg" data-medium="/images/pics/large/champ_life.jpg" data-high="/images/pics/large/champ_life.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row"> 
                    <div class="caption">Champ Contemplates Life Off The Course</div>
                  </div>
                </div>
              <!--/a-->
            </div>
            <div class="wrapper visible wrapperFull" data-size="Full" data-type="article" data-players="" id="content" data-content-id="">
              <!--a href="/en_US/news/articles/2017-04-09/garcia_outlasts_rose_to_claim_first_major_victory.html" target=""-->
                <div class="containerArticle">
                  <div class="image">
                    <!--[if lt IE 9]><span></span><![endif]-->
                    <img src="/images/pics/large/champ_2016.png" data-lower="/images/pics/large/champ_2016.png" data-medium="/images/pics/large/champ_2016.png" data-high="/images/pics/large/champ_2016.jpg" class="srcpic unveiled">
                  </div>
                  <div class="caption_row">
                    <div class="label icon news"></div>
                    <div class="caption">Latuer Holds Off Field To Win Back-To-Back Meridian Cup Championships</div>
                  </div>
                </div>
              <!--/a-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
<style>
  section.page-wrap {
  background-image: url(/images/backgrounds/home_clouds_sm.jpg);
  background-color:transparent;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 0;
  }
  @media only screen and (min-width: 45em) {
  section.page-wrap {
  background-image: url(/images/backgrounds/home_clouds_med.jpg);
  }
  }
  @media only screen and (min-width: 57.5em) {
  section.page-wrap {
  background-image: url(/images/backgrounds/home_clouds.jpg);
  }
  }
</style>
<script type="application/json" class="page_vars">
{
"documentTitle": "Home"
}
</script>
